.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    opacity: 1;
    margin-top: 2.5vw;
    transition: opacity 0.6s;
    z-index: 1;
    position: fixed;
    width: 100vw;
    font-family: Montserrat;
    text-align: center;
    display: none;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
  /* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.app .heroInner {
    margin-top: 10vh;
    padding: 5vw;
}

.app .heroInner .heroInner-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18pt;
    text-align: center;


    color: #CDCDCD;
}

.app .heroInner .heroInner-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15pt;
    text-align: center;

    color: #e2e1e1;
}


.app .rewardsInner {

    margin-bottom: 13vh;
}

.app .rewardsInner .rewards-options-up {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 3vw;
    margin-bottom: 3vw;
}

.app .rewardsInner .rewards-options-down {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 3vw;
}

.app .rewardsInner .rewards-options .option {
    position: relative;
    width: 15vh;
    height: 15vh;

    background: #65677C;
    border-radius: 25px;

    cursor: pointer;
}

.app .rewardsInner .rewards-options .option:hover {
    background: #87899b;
}

.app .rewardsInner .rewards-options .option img {
    filter: drop-shadow(-7px 7px 4px rgba(0, 0, 0, 0.25));

    position: absolute;
    width: 7vh;

    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);

}

.app .rewardsInner .rewards-options .option-5 img {
    width: 10vh;
}

.app .rewardsInner .rewards-description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15pt;
    text-align: center;

    margin-top: 5vh;

    color: #CDCDCD;
}

.app .rewardsInner .rewards-description-mobile {
    display: none;
}

.app footer .text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    background: #424552;

    padding: 2vh;
}

.app footer .text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13pt;

    color: #A8A7A7;
}

@media (min-width: 700px) {
    .app footer .text {
        flex-wrap: nowrap;
    }

    .app .rewardsInner .rewards-options .option {
        position: relative;
        width: 18vh;
        height: 18vh;

    }
}