<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/pages/dashboard.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Dashboard • De Graça!</title>
</head>

<body>
    <div class="app">
        <section id="home">
            <%- include('partials/header') -%>
                <div class="pre">
                    <div class="alert">
                        <strong>Parabéns!</strong> A sua recompensa foi entregue com sucesso.
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

                    </div>
                </div>
                <!-- <div class="w3-light-grey progressbar">
                    <div class="w3-container w3-padding w3-green" style="height:24px;width:50%"></div>
                </div> -->
                <section id="ad" style="text-align:center;margin-top:100px;">

                    <iframe
                        src="https://viewm.moonicorn.network/#%7B%22options%22%3A%7B%22publisherAddr%22%3A%220xc37996e3e952576A42491E206abDddd70C3FB07C%22%2C%22whitelistedTokens%22%3A%5B%220x6B175474E89094C44Da98b954EedeAC495271d0F%22%5D%2C%22whitelistedType%22%3A%22legacy_468x60%22%2C%22randomize%22%3Atrue%2C%22targeting%22%3A%5B%5D%2C%22width%22%3A%22468%22%2C%22height%22%3A%2260%22%2C%22minPerImpression%22%3A%220%22%2C%22fallbackUnit%22%3Anull%2C%22marketSlot%22%3A%22QmNmBt6zrFzsYEsuLz8vGU6oqrZndbcGbZwzxLHofXSBJ9%22%7D%7D"
                        width="468" height="60" scrolling="no" frameborder="0" style="border: 0;" onload="window.addEventListener('message', function(ev) { 
                        if (ev.data.hasOwnProperty('adexHeight') && ('https://viewm.moonicorn.network' === ev.origin)) {
                            for (let f of document.getElementsByTagName('iframe')) {	
                                if (f.contentWindow === ev.source) {
                                    f.height = ev.data.adexHeight;
                                }
                            }	
                        }
                    }, false)"></iframe>
                </section>
                <section id="ad" style="text-align:center;margin-top:100px;">
                    <iframe
                        src="https://viewm.moonicorn.network/#%7B%22options%22%3A%7B%22publisherAddr%22%3A%220xc37996e3e952576A42491E206abDddd70C3FB07C%22%2C%22whitelistedTokens%22%3A%5B%220x6B175474E89094C44Da98b954EedeAC495271d0F%22%5D%2C%22whitelistedType%22%3A%22legacy_468x60%22%2C%22randomize%22%3Atrue%2C%22targeting%22%3A%5B%5D%2C%22width%22%3A%22468%22%2C%22height%22%3A%2260%22%2C%22minPerImpression%22%3A%220%22%2C%22fallbackUnit%22%3Anull%2C%22marketSlot%22%3A%22QmNmBt6zrFzsYEsuLz8vGU6oqrZndbcGbZwzxLHofXSBJ9%22%7D%7D"
                        width="468" height="60" scrolling="no" frameborder="0" style="border: 0;" onload="window.addEventListener('message', function(ev) { 
                            if (ev.data.hasOwnProperty('adexHeight') && ('https://viewm.moonicorn.network' === ev.origin)) {
                                for (let f of document.getElementsByTagName('iframe')) {	
                                    if (f.contentWindow === ev.source) {
                                        f.height = ev.data.adexHeight;
                                    }
                                }	
                            }
                        }, false)"></iframe>
                </section>
                <div class="heroInner">
                    <h1 class="heroInner-title">
                        Painel de Controlo
                    </h1>
                    <h2 class="heroInner-subtitle">Seja bem vindo!</h2>
                </div>
        </section>
        <section id="rewards">
            <div class="rewardsInner">
                <div class="rewards-options">
                    <div class="rewards-options-up">
                        <div class="option option-1 steam-optionMain" onclick="window.open(loadAd(), '_blank')">
                            <img src="./images/steam-logo.png" alt="Steam Logo">
                        </div>
                        <div class="option option-2 epicgames-optionMain" onclick="window.open(loadAd(), '_blank')">
                            <img src="./images/epicgames-logo.png" alt="EpicGames Logo">
                        </div>
                        <div class="option option-3 redesky-optionMain" onclick="window.open(loadAd(), '_blank')">
                            <img src="./images/redesky-logo.png" alt="RedeSky Logo">
                        </div>
                        <div class="option option-4 minecraft-optionMain" onclick="window.open(loadAd(), '_blank')">
                            <img src="./images/minecraft-logo.png" alt="Minecraft Logo">
                        </div>
                    </div>
                    <div class="rewards-options-down">
                        <div class="option option-5 nitro-optionMain" onclick="window.open(loadAd(), '_blank')">
                            <img src=" ./images/nitro-logo.png" alt="Nitro Logo">
                        </div>
                        <div class="option option-6 boost-optionMain" onclick="window.open(loadAd(), '_blank')">
                            <img src="./images/boost-logo.png" alt="Boost Logo">
                        </div>
                        <div class="option option-7 netflix-optionMain" onclick="window.open(loadAd(), '_blank')">
                            <img src="./images/netflix-logo.png" alt="Netflix Logo">
                        </div>
                        <div class="option option-8 crunchyroll-optionMain"
                            onclick="window.open(loadAdCrunchy(), '_blank')">
                            <img src="./images/crunchyroll-logo.png" alt="Crunchyroll Logo">
                        </div>
                    </div>
                </div>
                <!-- <p class="rewards-description">Complete os campos abaixo da forma correta para resgatar as suas
                    recompensas!</p> -->
                <p class="rewards-description">Clique nos icones acima para escolher a recompensa.</p>
            </div>
        </section>
        <footer>
            <div class="text">
                <p class="copyright">© 2022 Todos os direitos reservados.</p>
            <p class="credits">Made with ❤️ by DeGraca Online</p>
            </div>
        </footer>
    </div>
    <script>
        var crunchyroll = 0

        function loadAd() {
            //return 'https://link-to.net/187746/nitrogratis3meses'
            //return 'https://link-to.net/187746/recompensa02'

            return 'https://link-hub.net/187746/receber-recompensa'
        }
        function loadAdCrunchy() {
            return 'https://link-hub.net/187746/receber-recompensa'
        }
    </script>
    <script>
        function getDownload() {
            return 'https://link-hub.net/187746/receber-recompensa'
        }
    </script>
    <script src="./scripts/dashboard.js"></script>
</body>

</html>

<!-- by zF4ke -->