<link rel="stylesheet" href="./styles/header.css">
<header>
    <a id="homeInput" href="/#home" onclick="window.open(loadAd(), '_blank')">Início</a>
    <a href="/#commands" onclick="window.open(loadAd(), '_blank')">Comandos</a>
    <!-- <a href="/posts" onclick="window.open(loadAd(), '_blank')">Posts</a> -->
    <img id="logoInput" src="./images/logo.png" alt="Logo de Graca" class="logo">
    <!-- <a href="https://discord.com/invite/rTSKZnXuFB" target="_blank"
        onclick="window.open(loadAd(), '_blank')">Servidor</a> -->
    <a href="/#rewards" onclick="window.open(loadAd(), '_blank')">Benefícios</a>
    <a id="authenticationInput" href="/dashboard" onclick="window.open(loadAd(), '_blank')">Painel</a>
</header>
<script src="./scripts/header.js"></script>